*.glb filter=lfs diff=lfs merge=lfs -text
docs/data/model/model.part* -filter -diff -merge text=false
*.mp3 filter=lfs diff=lfs merge=lfs -text
*.ogg filter=lfs diff=lfs merge=lfs -text
*.obj -filter -diff -merge text=false
*.mtl -filter -diff -merge text=false
