*.glb -filter -diff -merge text=false
docs/data/model/model.part* -filter -diff -merge text=false
*.mp3 -filter -diff -merge text=false
*.ogg -filter -diff -merge text=false
*.obj -filter -diff -merge text=false
*.mtl -filter -diff -merge text=false
